In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\REGex\\MachineLearning\\cars.csv")

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC BSII,1992,50000,100000,Petrol,Individual,Manual,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,1995,95000,100000,Petrol,Individual,Manual,Second Owner
2,Mahindra Jeep CL 500 MDI,1996,250000,35000,Diesel,Individual,Manual,Second Owner
3,Mahindra Jeep MM 540,1996,200000,60000,Diesel,Individual,Manual,First Owner
4,Mahindra Jeep CL 500 MDI,1997,150000,120000,Diesel,Individual,Manual,Third Owner

In [4]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
df['fuel']=le.fit_transform(df['fuel'])

In [8]:
df['seller_type']=le.fit_transform(df['seller_type'])

In [9]:
df['transmission']=le.fit_transform(df['transmission'])

In [10]:
df['owner']=le.fit_transform(df['owner'])

In [13]:
x=df.drop(columns=['name','owner'])

In [14]:
y=df['owner']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
x.shape,y.shape

((4340, 6), (4340,))

In [18]:
x_train.shape,y_train.shape

((3472, 6), (3472,))

In [19]:
x_test.shape,y_test.shape

((868, 6), (868,))

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [21]:
mms=MinMaxScaler()

In [22]:
x_train_scaled=mms.fit_transform(x_train)

In [23]:
x_test_scaled=mms.transform(x_test)

In [26]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)

In [30]:
x_test_scaled=pd.DataFrame(columns=x_test.columns)

In [33]:
x_train_scaled

          year  selling_price  km_driven  fuel  seller_type  transmission
0     0.464286       0.006757   0.070145  1.00          0.0           1.0
1     0.642857       0.025901   0.099181  0.25          0.5           1.0
2     0.750000       0.036036   0.123976  0.25          0.5           1.0
3     0.642857       0.039414   0.120257  1.00          0.5           1.0
4     0.964286       0.058446   0.002995  1.00          0.5           1.0
...        ...            ...        ...   ...          ...           ...
3467  0.892857       0.085586   0.038510  1.00          1.0           1.0
3468  0.535714       0.011824   0.061988  1.00          0.5           1.0
3469  0.857143       0.057995   0.065211  0.25          0.5           1.0
3470  0.928571       0.093468   0.012397  0.25          0.5           1.0
3471  0.642857       0.018018   0.123976  0.25          0.5           1.0

[3472 rows x 6 columns]

In [31]:
np.round(x_train.describe(),1)

         year  selling_price  km_driven    fuel  seller_type  transmission
count  3472.0         3472.0     3472.0  3472.0       3472.0        3472.0
mean   2013.1       498825.5    66808.5     2.5          0.8           0.9
std       4.2       553752.5    47571.7     1.5          0.5           0.3
min    1992.0        20000.0        1.0     0.0          0.0           0.0
25%    2011.0       210000.0    35000.0     1.0          1.0           1.0
50%    2014.0       360000.0    60000.0     1.0          1.0           1.0
75%    2016.0       600000.0    90000.0     4.0          1.0           1.0
max    2020.0      8900000.0   806599.0     4.0          2.0           1.0

In [32]:
np.round(x_train_scaled.describe(),1)

         year  selling_price  km_driven    fuel  seller_type  transmission
count  3472.0         3472.0     3472.0  3472.0       3472.0        3472.0
mean      0.8            0.1        0.1     0.6          0.4           0.9
std       0.1            0.1        0.1     0.4          0.2           0.3
min       0.0            0.0        0.0     0.0          0.0           0.0
25%       0.7            0.0        0.0     0.2          0.5           1.0
50%       0.8            0.0        0.1     0.2          0.5           1.0
75%       0.9            0.1        0.1     1.0          0.5           1.0
max       1.0            1.0        1.0     1.0          1.0           1.0