In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("F:\\REGex\\MachineLearning\\Social_Network_Ads.csv")

In [3]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df['Gender']=le.fit_transform(df['Gender'])

In [7]:
x=df.drop(columns=['Purchased'])

In [8]:
y=df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
x.shape,y.shape

((400, 4), (400,))

In [12]:
x_train.shape,x_test.shape

((320, 4), (80, 4))

In [13]:
y_train.shape,y_test.shape

((320,), (80,))

In [14]:
df.shape

(400, 5)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [19]:
x_train_scaled=sc.fit_transform(x_train)

In [20]:
x_train_scaled

array([[-1.19424348, -1.        , -1.06675246, -0.38634438],
       [ 0.21592346,  1.        ,  0.79753468, -1.22993871],
       [ 0.64683448, -1.        ,  0.11069205,  1.853544  ],
       ...,
       [-0.11569962, -1.        ,  0.50317355,  1.82445454],
       [-1.52869143,  1.        ,  0.11069205,  0.19544481],
       [-1.45447944, -1.        , -0.57615058,  0.45724994]])

In [21]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)

In [29]:
np.round(x_train_scaled.describe(),1)

       User ID  Gender    Age  EstimatedSalary
count    320.0   320.0  320.0            320.0
mean       0.0     0.0   -0.0              0.0
std        1.0     1.0    1.0              1.0
min       -1.7    -1.0   -1.9             -1.6
25%       -0.9    -1.0   -0.8             -0.8
50%        0.0     0.0   -0.1              0.0
75%        0.8     1.0    0.7              0.5
max        1.8     1.0    2.2              2.3

In [27]:
np.round(x_train.describe(),2)

           User ID  Gender     Age  EstimatedSalary
count       320.00   320.0  320.00           320.00
mean   15689066.37     0.5   37.87         70281.25
std       71974.25     0.5   10.21         34430.55
min    15569641.00     0.0   18.00         15000.00
25%    15622771.00     0.0   30.00         43000.00
50%    15689969.50     0.5   37.00         71000.00
75%    15747470.00     1.0   45.00         88000.00
max    15815236.00     1.0   60.00        150000.00